@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700,900');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css");

body {
    font-family: 'Raleway', sans-serif;
}

.layout {
    all: unset;
}

.container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 1em;
    box-sizing: border-box;
    position: relative;
}
  