<template>
  <div>
    <h1 class="my-8 text-4xl">Clientes</h1>
    <div>
      <vue-element-loading
        :active="isLoading"
        spinner="spinner"
        color="#DBDBDB"
        background-color="rgba(255, 255, 255, .5)"
      />
      <v-data-table :headers="headers" :items="clients" class="elevation-1">
        <template v-slot:item.action="{ item }">
          <v-icon small class="mr-2" @click="editItem(item)">edit</v-icon>
          <v-icon small @click="deleteItem(item)">delete</v-icon>
        </template>
      </v-data-table>
      <v-btn bottom color="pink" dark fab fixed right @click="openDialogForm(false)">
        <v-icon>mdi-plus</v-icon>
      </v-btn>
      <v-dialog v-model="dialogForm" persistent width="800px">
        <v-card>
          <v-card-title class="teal lighten-3">Crear cliente</v-card-title>
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  v-model="form.name"
                  v-validate="'required'"
                  data-vv-name="name"
                  required
                  :error-messages="errors.collect('name')"
                  label="Nombre"
                />
              </v-col>
              <v-col cols="12">
                <v-text-field
                  v-model="form.email"
                  v-validate="'required|email'"
                  data-vv-name="email"
                  required
                  :error-messages="errors.collect('email')"
                  label="Email"
                />
              </v-col>
              <v-col cols="12">
                <v-text-field
                  v-model="form.phone"
                  v-validate="'required'"
                  data-vv-name="phone"
                  required
                  :error-messages="errors.collect('phone')"
                  label="Télefono"
                />
              </v-col>
              <v-col cols="12">
                <v-text-field
                  v-model="form.phone_landline"
                  v-validate="'required'"
                  data-vv-name="phone_landline"
                  required
                  :error-messages="errors.collect('phone_landline')"
                  label="Télefono fijo"
                />
              </v-col>
              <v-col cols="12">
                <v-select
                  :items="countries"
                  item-text="name"
                  item-value="id"
                  label="País"
                  required
                  v-model="form.country"
                  v-validate="'required'"
                  data-vv-name="country"
                  :error-messages="errors.collect('country')"
                ></v-select>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  v-model="form.city"
                  v-validate="'required'"
                  data-vv-name="city"
                  required
                  :error-messages="errors.collect('city')"
                  label="Ciudad"
                />
              </v-col>
              <v-col cols="12">
                <v-menu
                  ref="menu"
                  v-model="menu"
                  :close-on-content-click="false"
                  :return-value.sync="form.birthday"
                  transition="scale-transition"
                  offset-y
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="form.birthday"
                      label="Cumpleaños"
                      prepend-icon="event"
                      readonly
                      v-on="on"
                      v-validate="'required'"
                      data-vv-name="birthday"
                      required
                      :error-messages="errors.collect('birthday')"
                    ></v-text-field>
                  </template>
                  <v-date-picker v-model="form.birthday" no-title scrollable>
                    <v-spacer></v-spacer>
                    <v-btn text color="primary" @click="menu = false">Cancel</v-btn>
                    <v-btn text color="primary" @click="$refs.menu.save(form.birthday)">OK</v-btn>
                  </v-date-picker>
                </v-menu>
              </v-col>
            </v-row>
          </v-container>
          <v-card-actions>
            <v-spacer />
            <v-btn text color="primary" @click="closeDialogForm">Cancelar</v-btn>
            <v-btn text @click="submit">Guardar</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-dialog v-model="dialogSucess.open" persistent max-width="400">
        <v-card>
          <v-card-title class="headline">
            <p class="text-green-600">
              <span></span>
            </p>
          </v-card-title>
          <v-card-text class="text-2xl">
            <v-icon color="green">check_circle</v-icon>
            <span class="px-2">{{dialogSucess.message}}</span>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="green darken-1" text @click="dialogSucess.open = false">Aceptar</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
export default {
  data() {
    return {
      form: {},
      menu: null,
      editedIndex: null,
      editedItem: null,
      dialog: false,
      dialogForm: false,
      dialogSucess: {
        open: false,
        message: ""
      },
      headers: [
        {
          text: "Nombre",
          align: "left",
          sortable: true,
          value: "name"
        },
        {
          text: "Email",
          align: "left",
          sortable: true,
          value: "email"
        },
        {
          text: "Teléfono",
          align: "left",
          sortable: true,
          value: "phone"
        },
        {
          text: "Teléfono fijo",
          align: "left",
          sortable: true,
          value: "phone_landline"
        },
        {
          text: "Cumpleaños",
          align: "left",
          sortable: true,
          value: "birthday"
        },
        {
          text: "País",
          align: "left",
          sortable: true,
          value: "country.name"
        },
        {
          text: "Ciudad",
          align: "left",
          sortable: true,
          value: "city"
        },
        { text: "--", value: "action", sortable: false }
      ]
    };
  },
  computed: {
    ...mapState("clients", ["clients", "isLoading"]),
    ...mapState("countries", ["countries"])
  },
  created() {
    this.getClients();
    this.getCountries();
  },
  methods: {
    ...mapActions("countries", ["getCountries"]),
    ...mapActions("clients", [
      "getClients",
      "storeClient",
      "updateClient",
      "deleteClient"
    ]),

    async submit() {
      const valid = await this.$validator.validateAll();

      if (valid) {
        this.closeDialogForm();
        if (this.editedIndex === null) {
          this.form.country_id = this.form.country;
          await this.storeClient(this.form);
          this.dialogSucess.message = "cliente agregado exitosamente.";
        } else {
          await this.updateClient(this.form);
          this.dialogSucess.message = "cliente editado exitosamente.";
        }
        await this.getClients();
        this.dialogSucess.open = true;
        this.form = {};
      }
    },

    openDialogForm(edit) {
      this.dialogForm = true;
      if (!edit) {
        this.form = {};
        this.editedIndex = null;
        this.editedItem = null;
      }
    },

    closeDialogForm() {
      this.dialogForm = false;
    },

    async editItem(item) {
      this.editedIndex = this.clients.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.form = item;
      this.openDialogForm(true);
    },

    async deleteItem(item) {
      if (confirm("¿Quieres eliminar este elemento?")) {
        await this.deleteClient(item);
        await this.getClients();
      }
    }
  }
};
</script>