<template>
  <div>
    <h1 class="my-8 text-4xl">Paises</h1>
    <div>
      <vue-element-loading
        :active="isLoading"
        spinner="spinner"
        color="#DBDBDB"
        background-color="rgba(255, 255, 255, .5)"
      />
      <v-data-table :headers="headers" :items="countries" class="elevation-1">
        <template v-slot:item.action="{ item }">
          <v-icon small class="mr-2" @click="editItem(item)">edit</v-icon>
          <v-icon small @click="deleteItem(item)">delete</v-icon>
        </template>
      </v-data-table>
      <v-btn bottom color="pink" dark fab fixed right @click="openDialogForm(false)">
        <v-icon>mdi-plus</v-icon>
      </v-btn>
      <v-dialog v-model="dialogForm" persistent width="800px">
        <v-card>
          <v-card-title class="teal lighten-3">Crear País</v-card-title>
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  v-model="form.name"
                  v-validate="'required'"
                  data-vv-name="name"
                  required
                  :error-messages="errors.collect('name')"
                  label="Nombre"
                />
              </v-col>
              <v-col cols="12">
                <v-text-field
                  v-model="form.code"
                  v-validate="'required'"
                  data-vv-name="code"
                  required
                  :error-messages="errors.collect('code')"
                  label="Código de area"
                />
              </v-col>
              <v-col cols="12">
                <v-text-field
                  v-model="form.iso"
                  v-validate="'required'"
                  data-vv-name="iso"
                  required
                  :error-messages="errors.collect('iso')"
                  label="ISO Code"
                />
              </v-col>
            </v-row>
          </v-container>
          <v-card-actions>
            <v-spacer />
            <v-btn text color="primary" @click="closeDialogForm">Cancelar</v-btn>
            <v-btn text @click="submit">Guardar</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-dialog v-model="dialogSucess.open" persistent max-width="400">
        <v-card>
          <v-card-title class="headline">
            <p class="text-green-600">
              <span></span>
            </p>
          </v-card-title>
          <v-card-text class="text-2xl">
            <v-icon color="green">check_circle</v-icon>
            <span class="px-2">{{dialogSucess.message}}</span>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="green darken-1" text @click="dialogSucess.open = false">Aceptar</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
export default {
  data() {
    return {
      form: {},
      editedIndex: null,
      editedItem: null,
      dialog: false,
      dialogForm: false,
      dialogSucess: {
        open: false,
        message: ""
      },
      headers: [
        {
          text: "Nombre",
          align: "left",
          sortable: true,
          value: "name"
        },
        {
          text: "Código de area",
          align: "left",
          sortable: true,
          value: "code"
        },
        {
          text: "ISO",
          align: "left",
          sortable: true,
          value: "iso"
        },
        { text: "--", value: "action", sortable: false }
      ]
    };
  },
  computed: {
    ...mapState("countries", ["countries", "isLoading"])
  },
  created() {
    this.getCountries();
  },
  methods: {
    ...mapActions("countries", [
      "getCountries",
      "storeCountry",
      "updateCountry",
      "deleteCountry"
    ]),

    async submit() {
      const valid = await this.$validator.validateAll();

      if (valid) {
        this.closeDialogForm();
        if (this.editedIndex === null) {
          await this.storeCountry(this.form);
          this.dialogSucess.message = "País agregado exitosamente.";
        } else {
          await this.updateCountry(this.form);
          this.dialogSucess.message = "País editado exitosamente.";
        }
        await this.getCountries();
        this.dialogSucess.open = true;
        this.form = {};
      }
    },

    openDialogForm(edit) {
      this.dialogForm = true;
      if (!edit) {
        this.form = {};
        this.editedIndex = null;
        this.editedItem = null;
      }
    },

    closeDialogForm() {
      this.dialogForm = false;
    },

    async editItem(item) {
      this.editedIndex = this.countries.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.form = item;
      this.openDialogForm(true);
    },

    async deleteItem(item) {
      if (confirm("¿Quieres eliminar este elemento?")) {
        await this.deleteCountry(item);
        await this.getCountries();
      }
    }
  }
};
</script>