<template>
  <section class="login">
    <div class="login__box">
      <div class="login__box__logo">
        <img src="@/assets/logo.png" alt />
      </div>
      <div class="login__form">
        <div class="container">
          <form @submit.prevent="submit">
            <div class="login__form__element">
              <span>Email</span>
              <input
                v-model="form.email"
                v-validate="'required|email'"
                placeholder="Escribe tu email..."
                type="text"
                name="email"
              />
              <span class="login__form__error">{{ errors.first('email') }}</span>
            </div>
            <div class="login__form__element">
              <span>Password</span>
              <input
                v-model="form.password"
                v-validate="'required'"
                placeholder="Escribe tu contraseña..."
                type="password"
                name="password"
              />
              <span class="login__form__error">{{ errors.first('password') }}</span>
            </div>

            <input
              class="text-lg bg-pink-500 w-full h-full block text-center py-4 px-2 font-bold text-white no-underline focus:outline-none cursor-pointer"
              type="submit"
              value="Iniciar Sesión"
            />
            <vue-element-loading
              :active="isLoading"
              spinner="spinner"
              color="#DBDBDB"
              background-color="rgba(255, 255, 255, .5)"
            />
            <span
              v-show="authError"
              class="login__form__error"
            >The email or password that you have entered is incorrect.</span>
          </form>
        </div>
      </div>
    </div>
    <div class="login__image"></div>
  </section>
</template>
<script>
import { mapActions, mapState } from "vuex";

export default {
  name: "Login",
  data: () => ({
    form: {},
    authError: false
  }),
  computed: {
    ...mapState("auth", ["isLoading"])
  },
  methods: {
    ...mapActions("auth", ["login"]),

    async submit() {
      const valid = await this.$validator.validateAll();

      if (!valid) {
        this.type = "password";
        this.iconEye = true;
        return;
      }

      if (await this.login(this.form)) {
        this.authError = false;
        this.$router.replace({ name: "home" });
      } else {
        this.authError = true;
      }
    }
  }
};
</script>
<style lang="scss">
.login {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  &__box {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__logo {
      display: flex;
      justify-content: center;
      margin-bottom: 1rem;
      max-width: 200px;
      img {
        max-width: 250px;
      }
    }
  }
  &__form {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    &__element {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-weight: 500;
    }
    input[type="text"],
    input[type="email"],
    input[type="password"] {
      background: #ffffff;
      border: 0.5px solid #c9c9c9;
      box-sizing: border-box;
      border-radius: 2px;
      width: 100%;
      padding: 10px 5px;
      font-size: 14px;
      ::-webkit-input-placeholder {
        color: #d3d3d3;
        font-size: 10px;
      }

      :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #d3d3d3;
        font-size: 10px;
      }

      ::placeholder {
        color: #d3d3d3;
        font-size: 10px;
      }
    }

    &__error {
      margin-bottom: 25px;
      font-size: 14px;
      color: #d60000;
    }

    input[type="submit"] {
      transition: all 0.3s;
      border: none;
      background: #ff43e3;
      border-radius: 37px;
      font-weight: bold;
      font-size: 16px;
      text-align: center;
      padding: 10px 40px;
      display: block;
      max-width: 185px;
      margin: 0 auto 20px auto;
      color: #ffffff;
      cursor: pointer;
      outline: none;

      &:hover {
        background: #ff00d9;
      }
    }
  }
  &__image {
    width: 50%;
    background-color: black;
    background-image: url("../assets/background-login.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media only screen and (max-width: 768px) {
  .login {
    &__box {
      width: 100%;
    }
    &__image {
      display: none;
    }
  }
}
</style>
