<template>
  <div>
    <h1 class="my-8 text-4xl">Listas</h1>
    <div>
      <vue-element-loading
        :active="isLoading"
        spinner="spinner"
        color="#DBDBDB"
        background-color="rgba(255, 255, 255, .5)"
      />
      <v-data-table :headers="headers" :items="segments" class="elevation-1">
        <template v-slot:item.action="{ item }">
          <v-icon small class="mr-2" @click="editItem(item)">edit</v-icon>
          <v-icon small @click="deleteItem(item)">delete</v-icon>
        </template>
      </v-data-table>
      <v-btn bottom color="pink" dark fab fixed right @click="openDialogForm(false)">
        <v-icon>mdi-plus</v-icon>
      </v-btn>
      <v-dialog v-model="dialogForm" persistent width="800px">
        <v-card>
          <v-card-title class="teal lighten-3">Crear Lista</v-card-title>
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  v-model="form.name"
                  v-validate="'required'"
                  data-vv-name="name"
                  required
                  :error-messages="errors.collect('name')"
                  label="Nombre"
                />
              </v-col>
              <div v-if="success != ''" class="alert alert-success" role="alert">{{success}}</div>
              <v-col cols="12">
                <input type="file" class="form-control" v-on:change="onFileChange" />
              </v-col>
              <v-btn @click="formSubmit">Cargar</v-btn>
              <v-col cols="12">
                <v-select
                  v-model="form.clients"
                  :items="clients"
                  :menu-props="{ maxHeight: '400' }"
                  label="Clientes"
                  multiple
                  hint="Seleccionar los clientes"
                  persistent-hint
                  item-text="name"
                  item-value="id"
                ></v-select>
              </v-col>
            </v-row>
          </v-container>
          <v-card-actions>
            <v-spacer />
            <v-btn text color="primary" @click="closeDialogForm">Cancelar</v-btn>
            <v-btn text @click="submit">Guardar</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-dialog v-model="dialogSucess.open" persistent max-width="400">
        <v-card>
          <v-card-title class="headline">
            <p class="text-green-600">
              <span></span>
            </p>
          </v-card-title>
          <v-card-text class="text-2xl">
            <v-icon color="green">check_circle</v-icon>
            <span class="px-2">{{dialogSucess.message}}</span>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="green darken-1" text @click="dialogSucess.open = false">Aceptar</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
export default {
  data() {
    return {
      name: "",
      file: "",
      success: "",
      form: {},
      editedIndex: null,
      editedItem: null,
      dialog: false,
      dialogForm: false,
      dialogSucess: {
        open: false,
        message: ""
      },
      headers: [
        {
          text: "Nombre",
          align: "left",
          sortable: true,
          value: "name"
        },
        {
          text: "Clientes",
          align: "left",
          sortable: true,
          value: "clients"
        },
        { text: "--", value: "action", sortable: false }
      ]
    };
  },
  computed: {
    ...mapState("segments", ["segments", "isLoading"]),
    ...mapState("clients", ["clients", "isLoading"])
  },
  created() {
    this.getSegments();
    this.getClients();
  },
  methods: {
    ...mapActions("segments", [
      "getSegments",
      "storeSegment",
      "updateSegment",
      "deleteSegment"
    ]),
    ...mapActions("clients", ["getClients"]),

    async submit() {
      const valid = await this.$validator.validateAll();

      if (valid) {
        this.closeDialogForm();
        if (this.editedIndex === null) {
          await this.storeSegment(this.form);
          this.dialogSucess.message = "Lista agregada exitosamente.";
        } else {
          await this.updateSegment(this.form);
          this.dialogSucess.message = "Lista editada exitosamente.";
        }
        await this.getSegments();
        this.dialogSucess.open = true;
        this.form = {};
      }
    },

    openDialogForm(edit) {
      this.dialogForm = true;
      if (!edit) {
        this.form = {};
        this.editedIndex = null;
        this.editedItem = null;
      }
    },

    closeDialogForm() {
      this.dialogForm = false;
    },

    async editItem(item) {
      this.editedIndex = this.segments.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.form = item;
      this.openDialogForm(true);
    },

    async deleteItem(item) {
      if (confirm("¿Quieres eliminar este elemento?")) {
        await this.deleteSegment(item);
        await this.getSegments();
      }
    },

    onFileChange(e) {
      console.log(e.target.files[0]);
      this.file = e.target.files[0];
    },
    formSubmit(e) {
      e.preventDefault();
      let currentObj = this;

      const config = {
        headers: { "content-type": "multipart/form-data" }
      };

      let formData = new FormData();
      formData.append("file", this.file);

      axios
        .post("/api/segment", formData, config)
        .then(function(response) {
          currentObj.success = response.data.success;
        })
        .catch(function(error) {
          currentObj.output = error;
        });
    }
  }
};
</script>