<template>
  <div>
    <h1 class="my-8 text-4xl">Enviar Mensaje por Listas</h1>
    <v-form ref="form">
      <vue-element-loading
        :active="isLoading"
        spinner="spinner"
        color="#DBDBDB"
        background-color="rgba(255, 255, 255, .5)"
      />
      <v-select
        v-model="form.segments"
        :items="segments"
        :menu-props="{ maxHeight: '400' }"
        label="Lista"
        persistent-hint
        item-text="name"
        item-value="id"
        @change="countClients()"
      ></v-select>
      <v-textarea
        v-model="form.message"
        v-validate="'required'"
        data-vv-name="message"
        required
        :error-messages="errors.collect('message')"
        label="Mensaje"
      ></v-textarea>
      <div class="mt-6 mb-12">
        <p class="font-bold">Información:</p>
        <p>Número de clientes de la lista: {{clientsList}}</p>
      </div>
      <v-btn color="success" class="mr-4" @click="submit">Enviar</v-btn>

      <v-btn color="error" class="mr-4" @click="reset">Cancelar</v-btn>
    </v-form>
    <v-dialog v-model="dialogSucess.open" persistent max-width="500">
      <v-card>
        <v-card-title class="headline">
          <p class="text-green-600">
            <span></span>
          </p>
        </v-card-title>
        <v-card-text class="text-2xl">
          <v-icon color="green">check_circle</v-icon>
          <span class="px-2">{{dialogSucess.message}}</span>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="dialogSucess.open = false">Aceptar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
  data() {
    return {
      form: {},
      dialogSucess: {
        open: false,
        message: ""
      },
      clientsList: 0
    };
  },
  created() {
    this.getSegments();
  },
  computed: {
    ...mapState("sms", ["isLoading"]),
    ...mapState("segments", ["segments"])
  },
  methods: {
    ...mapActions("sms", ["sendSegmentSMS"]),
    ...mapActions("segments", ["getSegments"]),

    async submit() {
      const valid = await this.$validator.validateAll();

      if (valid) {
        await this.sendSegmentSMS(this.form);
        this.dialogSucess.message = "Mensajes enviados exitosamente";
        this.dialogSucess.open = true;
        // this.form = {};
      }
    },

    reset() {
      this.form = {};
    },

    countClients() {
      let segment = this.segments.find(x => x.id === this.form.segments);
      this.clientsList = segment.clients_id.length;
    }
  }
};
</script>