<template>
  <div>
    <h1 class="my-8 text-4xl">Enviar Mensaje Individual</h1>
    <v-form ref="form">
      <vue-element-loading
        :active="isLoading"
        spinner="spinner"
        color="#DBDBDB"
        background-color="rgba(255, 255, 255, .5)"
      />
      <v-textarea
        v-model="form.numbers"
        v-validate="'required'"
        data-vv-name="numbers"
        required
        :error-messages="errors.collect('numbers')"
        label="Números"
        hint="Números separados por coma y con código de area"
      ></v-textarea>
      <v-textarea
        v-model="form.message"
        v-validate="'required'"
        data-vv-name="message"
        required
        :error-messages="errors.collect('message')"
        label="Mensaje"
      ></v-textarea>
      <br />
      <v-btn color="success" class="mr-4" @click="submit">Enviar</v-btn>

      <v-btn color="error" class="mr-4" @click="reset">Cancelar</v-btn>
    </v-form>
    <v-dialog v-model="dialogSucess.open" persistent max-width="500">
      <v-card>
        <v-card-title class="headline">
          <p class="text-green-600">
            <span></span>
          </p>
        </v-card-title>
        <v-card-text class="text-2xl">
          <v-icon color="green">check_circle</v-icon>
          <span class="px-2">{{dialogSucess.message}}</span>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="dialogSucess.open = false">Aceptar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
  data() {
    return {
      form: {},
      dialogSucess: {
        open: false,
        message: ""
      }
    };
  },
  computed: {
    ...mapState("sms", ["isLoading"])
  },
  methods: {
    ...mapActions("sms", ["sendSMS"]),

    async submit() {
      const valid = await this.$validator.validateAll();

      if (valid) {
        await this.sendSMS(this.form);
        this.dialogSucess.message = "Mensajes enviados exitosamente";
        this.dialogSucess.open = true;
        this.form = {};
      }
    },

    reset() {
      this.form = {};
    }
  }
};
</script>