<template>
  <div>
    <vue-element-loading
      :active="isLoading"
      spinner="spinner"
      color="#DBDBDB"
      background-color="rgba(255, 255, 255, .5)"
    />
    <h1 class="my-8 text-4xl">Twilio - Información de la cuenta</h1>
    <v-card class="mx-auto" color="#26c6da" dark max-width="400">
      <v-card-title>
        <v-icon large left>account_balance</v-icon>
        <span class="title font-weight-light">Saldo</span>
      </v-card-title>

      <v-card-text class="headline font-weight-bold">$ {{balance.balance}}</v-card-text>
    </v-card>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
export default {
  data() {
    return {
      form: {},
      dialogForm: false,
      dialog: false,
      headers: [
        {
          text: "Nombre",
          align: "left",
          sortable: true,
          value: "name"
        },
        {
          text: "Código de area",
          align: "left",
          sortable: true,
          value: "code"
        },
        {
          text: "ISO",
          align: "left",
          sortable: true,
          value: "iso"
        }
      ]
    };
  },
  computed: {
    ...mapState("sms", ["balance", "isLoading"])
  },
  created() {
    this.getBalance();
  },
  methods: {
    ...mapActions("sms", ["getBalance"])
  }
};
</script>