<template>
  <component :is="layout" class="layout" :class="layout" />
</template>

<script>
//import { mapState } from "vuex";

export default {
  computed: {
    defaultLayout() {
      return "default";
    },
    layout() {
      return `${this.$route.meta.layout || this.defaultLayout}-layout`;
    }
  }
};
</script>
<style lang="scss">
</style>
